@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,latin);
@import url(sticky-footer.css);

html
{
    overflow: auto;
}

body
{
    font-size: 100%;
    background: #f7f6f4;
    font-family: 'Open Sans', Tahoma, sans-serif;
}

a, a:visited
{
    color: #509399;
    text-decoration: none;
    border-bottom: 1px solid #b8d5d8;
}

a:hover
{
    color: #995050;
    border-bottom: 1px solid #b9a2a2;
}


.pseudo
{
    color: #509399;
    border-bottom: 1px dashed #b8d5d8;
}

.pseudo:hover
{
    color: #995050;
    cursor: pointer;
    border-bottom: 1px dashed #b9a2a2;
}

#benchapp
{
    width: 415px;
    margin: 0 auto;
    padding-top: 12%;

}

header h1
{
    font-weight: normal;
    font-size: 155%;
    text-align: center;
}

#about
{
    margin: 0 2%;
    border-top: 1px solid #e3e3e3;
    font-size: 90%;
}

#share, #authors, #authors-info
{
    margin-top: 1.3em;
    float: right;
}

#authors
{
    padding-top: 2px;
}

#authors-info
{
    font-size: 80%;
    padding-top: 5px;
    padding-right: 1em;
}

#slide
{
    text-align: center;
    height: 222px;
}

#animated
{
    padding-left: 2.5em;
}

#time
{
    font-size: 85%;
    position: relative;
    top: -24px;
    right: 20px;
}

.big_button
{
    background-color: #3bb3e0;
    padding: 6px;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border: solid 1px #186f8f;
    background-image: linear-gradient(bottom, #509398 0%, #3eb8e5 100%);
    background-image: -o-linear-gradient(bottom, #509398 0%, #3eb8e5 100%);
    background-image: -moz-linear-gradient(bottom, #509398 0%, #3eb8e5 100%);
    background-image: -webkit-linear-gradient(bottom, #509398 0%, #3eb8e5 100%);
    background-image: -ms-linear-gradient(bottom, #509398 0%, #3eb8e5 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #509398), color-stop(1, #3eb8e5));
    -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.big_button:hover
{
    color: #fff;
    border: solid 1px #186f8f;
    background: #3bb3e0;
}

.big_button:active
{
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    top: 1px;
    background-image: linear-gradient(bottom, #3eb8e5 0%, #509398 100%);
    background-image: -o-linear-gradient(bottom, #3eb8e5 0%, #509398 100%);
    background-image: -moz-linear-gradient(bottom, #3eb8e5 0%, #509398 100%);
    background-image: -webkit-linear-gradient(bottom, #3eb8e5 0%, #509398 100%);
    background-image: -ms-linear-gradient(bottom, #3eb8e5 0%, #509398 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3eb8e5), color-stop(1, #509398));
}

.big_button::before
{
    background-color: #ccd0d5;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2px;
    left: -2px;
    top: -2px;
    z-index: -1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
    -moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
    -o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #FFF;
}