@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,latin);
@import url(sticky-footer.css);

html
{
    overflow: auto;
}

body
{
    font-size: 100%;
    background: #f7f6f4;
    font-family: 'Open Sans', Tahoma, sans-serif;
}

a, a:visited
{
    color: #509399;
    text-decoration: none;
    border-bottom: 1px solid #b8d5d8;
}

a:hover
{
    color: #995050;
    border-bottom: 1px solid #b9a2a2;
}


.pseudo
{
    color: #509399;
    border-bottom: 1px dashed #b8d5d8;
}

.pseudo:hover
{
    color: #995050;
    cursor: pointer;
    border-bottom: 1px dashed #b9a2a2;
}

#benchapp
{
    width: 600px;
    margin: 0 auto;
    padding-top: 12%;
}

header h1
{
    font-weight: normal;
    font-size: 155%;
    text-align: center;
}

#about
{
    margin: 0 2%;
    border-top: 1px solid #e3e3e3;
    font-size: 90%;
}

#share, #authors, #authors-info
{
    margin-top: 1.3em;
    float: right;
}

#authors
{
    padding-top: 2px;
}

#authors-info
{
    font-size: 80%;
    padding-top: 4px;
    padding-right: 1em;
}

#slide
{
    text-align: center;
}

#animated
{
    padding-left: 2.5em;
}

#time
{
    font-size: 85%;
    position: relative;
    top: -24px;
    right: 20px;
}

.big_button
{
    background-color: #509399;
    border: none;
    font-size: 75%;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #57cac1, 0px 5px 0px 0px #22534f, 0px 10px 5px #999;
    cursor: pointer;
}

.big_button:hover
{
    border: none;
    color: #fff;
}

.big_button:active
{
    top: 3px;
    background-image: linear-gradient(bottom, rgb(62,51,46) 100%, rgb(101,86,78) 0%);
    box-shadow: inset 0px 1px 0px #57cac1, 0px 2px 0px 0px #22534f, 0px 5px 3px #999;
}

.big_button:active::before
{
    top: 50%;
    margin-top: -12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}